<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appleId</key>
	<string>test@test.com</string>
	<key>purchaseDate</key>
	<date>2010-04-04T04:04:04Z</date>
	<key>artistName</key>
	<string>GGSoft</string>
	<key>copyright</key>
    <string>GPL</string>
    <key>drmVersionNumber</key>
	<integer>0</integer>
	<key>fileExtension</key>
	<string>.app</string>
	<key>genre</key>
	<string>Giochi</string>
	<key>genreId</key>
	<integer>6014</integer>
	<key>itemId</key>
	<integer>99999999</integer>
	<key>itemName</key>
	<string>Solit</string>
	<key>kind</key>
	<string>software</string>
	<key>playlistArtistName</key>
	<string>GGSoft</string>
	<key>playlistName</key>
	<string>Solit</string>
	<key>rating</key>
	<dict>
		<key>content</key>
		<string></string>
		<key>label</key>
		<string>4+</string>
		<key>rank</key>
		<integer>100</integer>
		<key>system</key>
		<string>itunes-games</string>
	</dict>
	<key>releaseDate</key>
	<string>2010-06-13T00:27:24Z</string>
	<key>s</key>
	<integer>143450</integer>
	<key>softwareIcon57x57URL</key>
	<string>http://a1.phobos.apple.com/eu/r1000/054/Purple/9e/7d/11/mzi.aemcfixv.png</string>
	<key>softwareIconNeedsShine</key>
	<false/>
	<key>softwareSupportedDeviceIds</key>
	<array>
		<integer>1</integer>
	</array>
	<key>softwareVersionBundleId</key>
	<string>net.sourceforge.solit.apps.solit</string>
	<key>softwareVersionExternalIdentifier</key>
	<integer>2837359</integer>
	<key>softwareVersionExternalIdentifiers</key>
	<array>
		<integer>2712611</integer>
		<integer>2749033</integer>
		<integer>2777355</integer>
		<integer>2837359</integer>
	</array>
	<key>subgenres</key>
	<array>
		<dict>
			<key>genre</key>
			<string>Sport</string>
			<key>genreId</key>
			<integer>7016</integer>
		</dict>
		<dict>
			<key>genre</key>
			<string>Simulazione</string>
			<key>genreId</key>
			<integer>7015</integer>
		</dict>
	</array>
</dict>
</plist>

